<launch>
  <node pkg="fakecam" type="fakecam_node" name="fakecam_node">
    <param name="calibration_file_uri" value="package://fakecam/data/camera_parameters.txt"/>
    <param name="camera_name" value="fake_stereo"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="fakecam_static_publishter"
    args="0 0 0 0 0 0 /world /fake_cam_link 10"/>
</launch>
